.formQuiz {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .imageArea img {
    max-width: 100px;
    height: auto;
  }
  
  .quizWord {
    font-size: 18px;
    margin: 10px 0;
  }
  
  .submitInput {
    padding: 5px;
    margin-bottom: 10px;
  }
  
  .wrongQuiz {
    display: none;
    color: crimson;
    margin-bottom: 10px;
  }
  
  .submitQuiz {
    padding: 5px 10px;
    background-color: #0070f3;
    color: white;
    border: none;
    cursor: pointer;
  }